.header-container {
    display: flex;
    height: 50px;
    padding: var(--spacing-small);
    background-color: var(--color-medium);
    box-shadow: var(--box-shadow);
}
.header-counter {
    margin-left: auto;
    padding-right: var(--spacing-small);
    font-weight: bold;
    cursor: pointer;
}
.logo {
    align-items: center;
    display: flex;
    font-size: 18px;
    font-weight: bold;
}